<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-end">
            <div class="col-lg-6">
                <div class="row g-2">
                    <div class="col-6 position-relative wow fadeIn" data-wow-delay="0.7s">
                        <div class="about-experience bg-secondary rounded">
                            <h1 class="display-1 mb-0">99%</h1>
                            <small class="fs-5 fw-bold">Accuracy</small>
                        </div>
                    </div>
                    <div class="col-6 wow fadeIn" data-wow-delay="0.1s">
                        <img class="img-fluid rounded" src="{{ url_for('static', filename='img/rocket3.jpg')}}">
                    </div>
                    <div class="col-6 wow fadeIn" data-wow-delay="0.3s">
                        <img class="img-fluid rounded" src="{{ url_for('static', filename='img/rocket4.jpg')}}">
                    </div>
                    <div class="col-6 wow fadeIn" data-wow-delay="0.5s">
                        <img class="img-fluid rounded" src="{{ url_for('static', filename='img/rocket5.jpg')}}">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <p class="section-title bg-white text-start text-primary pe-3">About Us</p>
                <h1 class="mb-4">QuntaSpace</h1>
                <p class="mb-4">Quanta Space is an AI-powered app that swiftly analyzes technical bulletins, lessons learned, and industry standards, providing aerospace professionals with actionable recommendations to enhance technical requirements, ensuring safety, efficiency, and compliance with aviation standards. It empowers organizations in the aerospace sector to stay at the forefront of technology, reduce risks, and maintain a competitive edge in the ever-evolving aerospace industry.</p>
                <!-- <div class="row g-5 pt-2 mb-5">
                    <div class="col-sm-6">
                        <img class="img-fluid mb-4" src="img/service.png" alt="">
                        <h5 class="mb-3">Crops recommendation</h5>
                        <span>Random forest will predict the best crop with an accuracy of 99%</span>
                    </div>
                    <div class="col-sm-6">
                        <img class="img-fluid mb-4" src="img/product.png" alt="">
                        <h5 class="mb-3">Best fertilizers</h5>
                        <span>Random forest will predict the best fertilizers with an accuracy of 95%!</span>
                    </div>
                </div>
                <a class="btn btn-secondary rounded-pill py-3 px-5" href="">Explore More</a> -->
            </div>
        </div>
    </div>
</div>
<!-- About End -->