<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="section-title bg-white text-center text-primary px-3">Our Team</p>
            <h1 class="mb-5">Experienced Team Members</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item rounded p-4">
                    <img class="img-fluid rounded mb-4" src="{{ url_for('static', filename='img/david-torossyan.webp')}}" alt="">
                    <h5>David Torossyan</h5>
                    <p class="text-primary">Frontend + Backend</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item rounded p-4">
                    <img class="img-fluid rounded mb-4" src="{{ url_for('static', filename='img/vladdddddd.png')}}" alt="">
                    <h5>Vlad</h5>
                    <p class="text-primary">Ai dev</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item rounded p-4">
                    <img class="img-fluid rounded mb-4" src="{{ url_for('static', filename='img/arnurr.jpeg')}}" alt="">
                    <h5>Arnur</h5>
                    <p class="text-primary">Researcher</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item rounded p-4">
                    <img class="img-fluid rounded mb-4" src="{{ url_for('static', filename='img/bogdan.png')}}" alt="">
                    <h5>Bogdan</h5>
                    <p class="text-primary">Danser</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->